@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: blue;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff2;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

/* Mobile Navbar */

.burger {
  transition: opacity 300ms ease;
  border: 0;
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
}

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.burger svg[data-hide='true'] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

/* Hero */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-img {
  @apply absolute scale-[0.8] lg:scale-100;

  &:not(#pop1) {
    animation: float 2s infinite ease-in-out;
  }
}

/* Title */
.landing-title::before {
  content: '';
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  width: 100dvw;
  @apply bg-fun-pink;
}

@media (max-width: 768px) {
  .landing-title::before {
    left: 50%;
    top: -20px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: max(150px, 70vw);
  }
}
